{% extends "base.html" %}

{% block title %}Archives — {{ SITENAME }}{% endblock %}

{%- block content %}
      <h1>Archives</h1>
       <dl>
       {% for article in articles %}
          {% if loop.first or article.date.strftime('%Y %m') != articles[loop.index0-1].date.strftime('%Y %m') %}
          <dt>
             <h2>{{ article.date.strftime('%Y %B') }}</h2>
             <ul>
          {% endif %}
          
             <li>
                <a rel="bookmark"
                  href="{{ SITEURL }}/{{ article.url }}"
                  title="Permanent link to «{{ article.title|striptags }}»">
                {{ article.title }}
                </a>
             </li>
	     {%- if article.translations %}
	       <ul style="margin:0">
               {%- for translation in article.translations %}
                 <li>
                   <a rel="bookmark"
                     href="{{ SITEURL }}/{{ translation.url }}"
                      title="Permanent link to «{{ translation.title|striptags }}»">
                     {{ translation.title }}
                   </a>
                 </li>
	       {% endfor -%}
	       </ul>
	     {% endif -%}

          {% if loop.last or article.date.strftime('%Y %m') != articles[loop.index0+1].date.strftime('%Y %m') %}
             </ul>
          </dt>
          {% endif %}
       {% endfor %}
       </dl>
{% endblock content -%}
