{%- if article.lang %}{% set DEFAULT_LANG = article.lang %}{% endif -%}
{% extends "base.html" %}

{% block headers %}
    {{ super() }}
    <meta name="author"   content="{{ article.author or DEFAULT_AUTHOR }}" />
    <meta name="keywords" content="{{ article.tags|join(', ') }}" />
    {% if article and article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}"/>
    {% endif%}
    {% if article and article.title %}    
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    {% endif%}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>
{% endblock %}

{% block title %}{{ article.title }} — {{ super() }}{% endblock %}

{%- block content %}
      <header class="post-header">
        <h2>
          <a rel="bookmark"
             href="{{ SITEURL }}/{{ article.url }}"
             title="Permanent link to «{{ article.title|striptags }}»">
             {{ article.title }}
          </a>
        </h2>
        <div class="meta">
          {% include "includes/article_meta.html" %}
        </div>
      </header>
      <div class="post-content"> 
        {{ article.content}}
      </div>
      <footer class="post-footer">
        <div class="meta">
            Posted in «<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>» 
            by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author}}</a><br />
            Tags: {% for tag in article.tags %} #<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}
        </div>
        <br/>
        <ul>
          {% if article.prev_article %}
              <li>Prev:
                  <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                      {{ article.prev_article.title }}
                  </a>
              </li>
          {% endif %}
          {% if article.next_article %}
              <li>Next:
                  <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                      {{ article.next_article.title }}
                  </a>
              </li>
          {% endif %}
         </ul>
      </footer>
      {% if COMMENTS[article.slug] %}
      <div>
        <br/>
        <h2 id="comments">COMMENTS</h2>
        {% for comment in COMMENTS[article.slug] %}
            <div id="comment-{{comment._id}}" class="comment">
              <!-- TODO: lazy load image -->
              <img class="gravatar" src="https://seccdn.libravatar.org/avatar/{{comment.email}}?d=identicon" alt="">
              <p>
                {% if comment.url %}
                <strong><a href="//{{comment.url | replace('http://','')|replace('https://','') |e }}">{{ comment.name |e }}</a></strong>
                {% else %}
                <strong>{{ comment.name |e }}</strong>
                {% endif %}
                <br/>
                <time>{{comment.date | commentdate(article) }}</time>
                <br/>
                {{ comment.comment |e }}
              </p>  
              <button class="replyto" onclick="javascript:document.getElementById('replyto').value = '{{comment._id}}' ;document.getElementById('comment-post').scrollIntoView();">Replyto</button>
              {% if comment.replyto %}
              <button class="related" onclick="javascript:(function(){let a = document.getElementsByClassName('comment');for(let i=0;i<a.length;i++){a[i].classList.remove('highlight');} })()  ; document.getElementById('comment-{{comment.replyto |e}}').classList.add('highlight');document.getElementById('comment-{{comment.replyto |e}}').scrollIntoView();">Related</button>
              {% endif %}
            </div>
        {% endfor %}
      </div>
      {% endif %}
      <div id="comment-post">
        <h3>Leave a comment</h3>
        {# TODO: dynamic alert #}
        <p>Note : Your comment will not be displayed until a Github PullRequest have been merged.</p>
        <noscript><p>Note2: Require Javascript to submit a comment.</p></noscript>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/spark-md5.min.js"></script>
        <script type="text/javascript">
            var comment = function(button){
              if ( !window.event.target.parentElement.reportValidity() ){
                return;
              }

              let keywords = ["slug" , "name" , "email" , "url" , "comment" , "replyto"];

              let payload = {};
              keywords.forEach(function(item, index) {
                  payload[item] = document.getElementById("comment-"+item).value;
              });
              payload["email"] = SparkMD5.hash(payload["email"]);
              fetch("{{ COMMENT_ENDPOINT }}", {
                method: 'POST',
                mode: 'cors',
                credentials: 'omit',
                cache: 'no-cache',
                redirect: 'error',
                body: JSON.stringify({ event_type: 'comment', client_payload: { data: payload } })
              }).then(function(resp){
                if(resp.ok){
                  document.getElementById("comment-result").textContent = "Success."
                } else if (resp.status == 422){
                  resp.text().then(
                    function(msg){
                      document.getElementById("comment-result").textContent = "Error: "+msg;
                    })
                }
              });
            }

        </script>
        <form>
            {# Never trust users' input!!!  #}
            <input id="comment-slug" name="options[slug]" type="hidden" value="{{ article.slug }}">
            <p><label>Name:</label> <input id="comment-name" name="fields[name]" type="text" placeholder="(Required)" required="required"></p>
            <p><label>E-mail:</label> <input id="comment-email" name="fields[email]" type="email" placeholder="(Required to calcuate)" required="required"></p>
            <p><label>Website:</label> <input id="comment-url" name="fields[url]" type="text" placeholder="(Optional)"></p>
            <p><label>Comment:</label> <textarea id="comment-comment" name="fields[comment]" rows=5 required="required"></textarea></p>
            <p><label>Reply To(<a alt="Clean replyto" href="javascript:document.getElementById('comment-replyto').value =null">Clear</a>):</label>
              <input id="comment-replyto" name="fields[replyto]" type="text" placeholder="(Empty if directly replying to this article)" readonly></p>
            <input type="button" value="Submit" onclick="comment()" ></input>
            <p id="comment-result"></p>
        </form>
      </div>

      {% if DISQUS_SITENAME %}
      <hr />
      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
{% endblock content -%}
