{#  includes/article_meta.html  #}
            Date: <time datetime="{{ article.date.isoformat() }}" title="{{ article.date.isoformat()}}">{{ article.locale_date }}</time>
            {%- if article.modified %}
              <br />Updated: <time datetime="{{ article.modified.isoformat() }}" title="{{ article.modified.isoformat()}}">{{ article.locale_modified }}</time>
            {% endif -%}
            {# <br/>Author: <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>            
            <br/>Category: «<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>» 
            #}
            {# {%- if article.tags %}
              <br />Tags: 
              {%- for tag in article.tags %}
              <a rel="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor -%}
            {% endif -%} #}
            {%- if article.translations %}
              <br />Language: 
              [<a href="{{ SITEURL }}/{{ article.url }}">{{ article.lang or DEFAULT_LANG }}</a>]
              {%- for translation in article.translations %}
              <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
              {% endfor -%}
             {% endif -%}
